---
http_interactions:
- request:
    method: get
    uri: https://www.tnt.fr/service/?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?><wsdl:definitions name="services" targetNamespace="http://cxf.ws.app.tnt.fr/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf.ws.app.tnt.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <wsdl:types>
        <xs:schema targetNamespace="uri:tracking" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType name="dropOffPoint">
        <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="deliveryFlag" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="zipCode" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="xETTCode" type="xs:string"></xs:element>
        </xs:sequence>
        </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="uri:pickuprequest" version="1.0" xmlns:ns1="http://cxf.ws.app.tnt.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:import namespace="http://cxf.ws.app.tnt.fr/"></xs:import>
        <xs:complexType name="receiver">
        <xs:complexContent>
        <xs:extension base="ns1:autoValidatedInput">
        <xs:sequence>
        <xs:element minOccurs="0" name="address1" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="address2" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="contactFirstName" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="contactLastName" type="xs:string"></xs:element>
        <xs:element minOccurs="[...]
- request:
    method: post
    uri: http://www.tnt.fr/service/
    body:
      encoding: UTF-8
      string: |
        <soapenv:Envelope
          xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:cxf="http://cxf.ws.app.tnt.fr/">
          <soapenv:Header>
          <wsse:Security
            xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>webservices@tnt.fr</wsse:Username>
              <wsse:Password>test</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </soapenv:Header>

          <soapenv:Body>
          <cxf:expeditionCreation>
              <parameters>
                <accountNumber>06324676</accountNumber>
                <shippingDate>2017-06-06</shippingDate>
                <labelFormat>THERMAL</labelFormat>
                <sender>
                    <name>TNT EXPRESS FRANCE</name>
                    <address1>58 AVENUE LECLERC</address1>
                    <address2></address2>
                    <zipCode>44119</zipCode>
                    <city>TREILLIERES</city>
                    <contactFirstName>HENRY</contactFirstName>
                    <contactLastName>DUPONT</contactLastName>
                    <emailAddress>henry.dupont@tnt.fr</emailAddress>
                    <phoneNumber>0102030405</phoneNumber>
                </sender>
                <receiver>
                    <type>INDIVIDUAL</type>
                    <contactFirstName>Helene</contactFirstName>
                    <contactLastName>POCHET</contactLastName>
                    <address1></address1>
                    <address2></address2>
                    <zipCode>19290</zipCode>
                    <city>MILLEVACHES</city>
                    <emailAddress>test@hotmail.fr</emailAddress>
                    <phoneNumber>0602030405</phoneNumber>
                    <accessCode>1234B</accessCode>
                    <buldingId>1</buldingId>
                    <floorNumber>5</floorNumber>
                    <instructions>PORTE GAUCHE</instructions>
                    <sendNotification>0</sendNotification>
                </receiver>
                <serviceCode>JZ</serviceCode>
                <saturdayDelivery>0</saturdayDelivery>
                <quantity>1</quantity>
                <parcelsRequest>
                    <parcelRequest>
                      <sequenceNumber>1</sequenceNumber>
                      <customerReference></customerReference>
                      <weight>1.0</weight>
                    </parcelRequest>
                  </parcelsRequest>
              </parameters>
          </cxf:expeditionCreation>
        </soapenv:Body>

        </soapenv:Envelope>
    headers:
      Soapaction:
      - '"expeditionCreation"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Erreur Interne de Servlet
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><soap:Fault><faultcode>soap:Server</faultcode><faultstring>The field 'receiver.address1' is mandatory.
        The field 'shippingDate' is not valid.
        </faultstring><detail><ns1:ServiceException xmlns:ns1="http://cxf.ws.app.tnt.fr/"></ns1:ServiceException></detail></soap:Fault></soap:Body></soap:Envelope>
  recorded_at: Wed, 07 Jun 2017 12:39:20 GMT
recorded_with: VCR 3.0.3
