---
http_interactions:
- request:
    method: get
    uri: https://www.tnt.fr/service/?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?><wsdl:definitions name="services" targetNamespace="http://cxf.ws.app.tnt.fr/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf.ws.app.tnt.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <wsdl:types>
        <xs:schema targetNamespace="uri:tracking" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType name="dropOffPoint">
        <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="deliveryFlag" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="zipCode" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="xETTCode" type="xs:string"></xs:element>
        </xs:sequence>
        </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="uri:pickuprequest" version="1.0" xmlns:ns1="http://cxf.ws.app.tnt.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:import namespace="http://cxf.ws.app.tnt.fr/"></xs:import>
        <xs:complexType name="receiver">
        <xs:complexContent>
        <xs:extension base="ns1:autoValidatedInput">
        <xs:sequence>
        <xs:element minOccurs="0" name="address1" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="address2" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="contactFirstName" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="contactLastName" type="xs:string"></xs:element>
        <xs:element minOccurs="[...]
- request:
    method: post
    uri: http://www.tnt.fr/service/
    body:
      encoding: UTF-8
      string: |
        <soapenv:Envelope
          xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:cxf="http://cxf.ws.app.tnt.fr/">
          <soapenv:Header>
          <wsse:Security
            xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>webservices@tnt.fr</wsse:Username>
              <wsse:Password>test</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </soapenv:Header>

          <soapenv:Body>
          <cxf:expeditionCreation>
              <parameters>
                <accountNumber>06324676</accountNumber>
                <shippingDate>2017-06-13</shippingDate>
                <labelFormat>THERMAL</labelFormat>
                <sender>
                    <name>TNT EXPRESS FRANCE</name>
                    <address1>58 AVENUE LECLERC</address1>
                    <address2></address2>
                    <zipCode>44119</zipCode>
                    <city>TREILLIERES</city>
                    <contactFirstName>HENRY</contactFirstName>
                    <contactLastName>DUPONT</contactLastName>
                    <emailAddress>henry.dupont@tnt.fr</emailAddress>
                    <phoneNumber>0102030405</phoneNumber>
                </sender>
                <receiver>
                    <type>INDIVIDUAL</type>
                    <contactFirstName>Helene</contactFirstName>
                    <contactLastName>POCHET</contactLastName>
                    <address1>640 chemin de Saint Julien</address1>
                    <address2>&amp;#126;&amp;#96;&amp;#162;</address2>
                    <zipCode>19290</zipCode>
                    <city>MILLEVACHES</city>
                    <emailAddress>test@hotmail.fr</emailAddress>
                    <phoneNumber>0602030405</phoneNumber>
                    <accessCode>1234B</accessCode>
                    <buldingId>1</buldingId>
                    <floorNumber>5</floorNumber>
                    <instructions>PORTE GAUCHE</instructions>
                    <sendNotification>0</sendNotification>
                </receiver>
                <serviceCode>JZ</serviceCode>
                <quantity>1</quantity>
                <parcelsRequest>
                    <parcelRequest>
                      <sequenceNumber>1</sequenceNumber>
                      <customerReference></customerReference>
                      <weight>1.0</weight>
                    </parcelRequest>
                  </parcelsRequest>
              </parameters>
          </cxf:expeditionCreation>
        </soapenv:Body>

        </soapenv:Envelope>
    headers:
      Soapaction:
      - '"expeditionCreation"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns1:expeditionCreationResponse
        xmlns:ns1="http://cxf.ws.app.tnt.fr/"><Expedition><PDFLabels>JVBERi0xLjQKJeLjz9MKNCAwIG9iago8PC9UeXBlL1hPYmplY3QvQ29sb3JTcGFjZVsvSW5kZXhlZC9EZXZpY2VSR0IgMjU1KP/+/e5zHveuePi2g/m/kvrHoPzTs/KKQPzVt/GEOP/17/i4hv/48u97Ku1uF/GFOexoXHTwfS7/+fX//v7udSHsaVxy//z6/eXS85FK+LR/97J9/u7h/u/j//r27W8Z7WsR7nYj7W0W7GgL7W0V7nId7W0U+sWc//Tt73kn//Xu//v5/vPq/u3f7WoO//38/dzB+8yo//v37WwT7nUi73wt/eDK/urb//37/u3g+LaE//jz97B68oxE7nMf+sKX8IEz+82p//Ts//n07nAb+b6R+LWC/vLp7nAa9Jxb73cl/Ni8//fx8Yk//uvd+sOY8IAx73pcKPGIPf/7+P7q2u50IP7w5O1qEPvPre5xHPSZVvzYu+96XCn0nFr+8OX1pGb93sX93cT3rnf+7N70[...]
